* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #444444;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 100px auto;
    height: 80vh;

}

@media (max-width: 800px) {
    .container {
        margin: auto;
    }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    opacity: 0;
    z-index: 1;
}
.menu {
    position: relative;
    color: #fff;
    background-color: rgba(10, 10, 10, 0.4);
    display: none;
    z-index: 1;
}

.visible {
    display: block;
}

.menu p {
    padding: 1rem;
    font-size: 1.5rem;
}

.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    margin: 8px;
}

.rangeParticle {
  padding: 1rem;
}

label {
  font-size: 1rem;
}
input[type="range"] {
  margin: 1rem;
  width: calc(100% - 4rem);
  height: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.opacity05 {
    opacity: 0.5;
}

.opacity1 {
    opacity: 1;
}

.opacity05-1 {
    animation-name: opacidad;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.reopacity {
    animation-name: reopacidad;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 2rem;
}

Button {
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    color: #fff;
}

.menuButton {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.5rem;
    
}



@keyframes opacidad {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

  @keyframes reopacidad {
    0% {
      opacity: 0.5;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

  